.ul-job-details-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.similar-jobs-ul-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
